.block_ludifica .player_info {
    display: flex;
    flex-wrap: wrap;
}

.block_ludifica .player_info h3 {
    display: flex;
    flex-wrap: wrap;
}

.block_ludifica .player_info h3 span {
    padding: 10px;
    border-right: 2px solid #ddd;
    display: inline-block;
}

.block_ludifica .player_info h3 span:last-child {
    border-right: none;
}

.block_ludifica .player_info .buttons {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #ddd;
}

#page-blocks-ludifica-avatars .notavailableyet,
#page-blocks-ludifica-tickets .notavailableyet,
#page-blocks-ludifica-badges .notavailableyet,
.block_ludifica .notavailableyet {
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    width: 100%;
}

#tickets-list .oneticket,
#badges-list .onebadge {
    margin-bottom: 20px;
}

#tickets-list .oneticket .picture-box,
#badges-list .onebadge .picture-box {
    padding-right: 15px;
}

#tickets-list .oneticket .picture-box img,
#badges-list .onebadge .picture-box img {
    max-width: 150px;
    max-height: 150px;
}

#tickets-list .oneticket .ticketcontent,
#badges-list .onebadge .badgecontent {
    display: flex;
}

#tickets-list .oneticket .card-header a {
    float: right;
    cursor: pointer;
}

#tickets-list .oneticket .card-header a i {
    border: 2px solid;
    border-radius: 50%;
    padding: 2px;
}

.block_ludifica-modal {
    display: none;
}

.alertc-control {
    position: fixed;
    left: 10px;
    right: 10px;
    top: 50%;
    z-index: 999;
    border: 2px dashed;
}

.alertc-control .alert {
    margin: 0;
}

.usercode.usercode-used {
    text-decoration: line-through;
}

/*Avatars*/
#avatars-list .oneavatar {
    width: 200px;
    margin: 20px;
}

#avatars-list .oneavatar.usernothas .picture-box img {
    filter: grayscale(1);
}

#avatars-list .avatarcontent {
    position: relative;
}

#avatars-list .cost {
    position: absolute;
    right: 5px;
    top: 5px;
    background: rgba(8, 8, 8, 0.7);
    color: #fff;
    padding: 0 5px;
    border-radius: 10px;
}

#avatars-list .picture-box img {
    width: 100%;
}

#avatars-list .info-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background: rgba(20, 20, 20, 0.8);
    color: #fff;
    font-size: 80%;
    transform: scale(0);
    transition: all .2s ease-in-out;
    overflow: auto;
}

#avatars-list .avatarcontent:hover .info-box {
    transform: scale(1);
}

#avatars-list .oneavatar.usernothas [data-action="use"],
#avatars-list .oneavatar.inuse [data-action="use"] {
    display: none;
}

#avatars-list .oneavatar.userhas [data-action="buy"] {
    display: none;
}

#avatars-list .oneavatar.userhas .cost {
    display: none;
}

#avatars-list .oneavatar .used {
    display: none;
}

#avatars-list .oneavatar.inuse .used {
    display: inherit;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 50px;
}

#avatars-list .card-footer {
    padding: 5px;
}
/*End Avatars*/

.block_ludifica .avatar-box {
    text-align: center;
    min-width: 40%;
    width: 100%;
    margin-top: 50px;
}

.block_ludifica .avatar-box.MD {
    margin-top: 0;
}

.block_ludifica .avatar-box img {
    margin-bottom: 10px;
    max-width: 100%;
}

.block_ludifica .tickets-box > div,
.block_ludifica .badges-box > div {
    display: flex;
}

.block_ludifica .tickets-box .oneticket,
.block_ludifica .badges-box .onebadge {
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
    border: 1px solid;
    margin: 5px;
}

.block_ludifica .tickets-box .oneticket img,
.block_ludifica .badges-box .onebadge img {
    width: 100%;
}

.block_ludifica .tickets-box .oneticket .count {
    position: absolute;
    bottom: 3px;
    right: 3px;
    background-color: rgba(8, 8, 8, 0.7);
    border-radius: 10px;
    padding: 0 7px;
    font-size: 12px;
    color: #fff;
}

.block_ludifica .block_ludifica-tabs i {
    font-size: 20px;
}

/* Tabs control */
.block_ludifica-tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
}

.block_ludifica-tabs > [data-ref] {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
}

.block_ludifica-tabs > .active {
    cursor: default;
}

.block_ludifica-tabs > .active,
.block_ludifica-tabs > :hover[data-ref] {
    border-color: #aaa;
    background-color: #ddd;
}

.block_ludifica-tabcontent {
    padding: 10px 0;
    display: none;
}

.block_ludifica-tabcontent.active {
    display: inherit;
}

/* End Tabs control */

/* Store */
.store-tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.store-tabs > a {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
    display: inline-block;
    text-decoration: none;
}

.store-tabs > .active {
    cursor: default;
}

.store-tabs > .active,
.store-tabs > :hover[data-ref] {
    border-color: #aaa;
    background-color: #ddd;
    text-decoration: none;
}

/* End Store */

/* Ranking tables */
.block_ludifica-tabcontent .generaltable {
    font-size: 12px;
}

.block_ludifica-tabcontent .numeric-cel {
    text-align: right;
}

.block_ludifica-tabcontent .current-user {
    background-color: bisque;
}
/* End Ranking tables */

/* Contextual help */
.ludifica_help {
    background: none;
    border: none;
    color: #0f6cbf;
}
/* End contextual help */

/* Dynamic help */

.pointsinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pointsinfo .icon {
    font-size: 2em;
}

.pointsinfo .card-text > ul > li > img {
    margin-right: 9px;
}

.pointsinfo .fa {
    margin-right: 26px;
}

.tab-dynamichelps .card {
    max-width: 500px;
    margin-bottom: 20px;
}

.tab-dynamichelps .card-header {
    font-size: 120%;
    line-height: 120%;
}

.tab-dynamichelps .activities-list .bg-primary {
    color: #fff;
}
/* End dynamic help */

/* Copy badge url */

#page-blocks-ludifica-badges .share-container {
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid #e5e5e5;
    padding: 20px 0;
}

#page-blocks-ludifica-badges .share-container .share-content {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 20px;
}

#page-blocks-ludifica-badges .share-container .input-container {
    width: 100%;
}

#page-blocks-ludifica-badges .share-container input[name="badgelink"] {
    border: 2px solid #d7d7d7;
    font-style: italic;
}

#page-blocks-ludifica-badges .share-container .input-group-text {
    border-color: #d7d7d7;
    border-right: none;
    background-color: #f5f5f5;
}

#page-blocks-ludifica-badges .share-container .input-group-text i {
    color: #d7d7d7;
}

#page-blocks-ludifica-badges .share-container .share-icons {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

#page-blocks-ludifica-badges .share-container .share-icons a {
    border-radius: 50%;
    color: #6ca0a5;
    display: flex;
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    font-size: 22px;
    background-color: #eaeaea;
}

#page-blocks-ludifica-badges .share-container .share-icons a i {
    color: #6ca0a5;
}

#page-blocks-ludifica-badges .msg-badgelink-copy {
    position: absolute;
    background-color: #fff;
    opacity: 0.9;
    padding: 5px;
    border: 1px dashed;
    font-size: 70%;
    left: 39px;
    min-width: 208px;
}

/* End copy badge url */