.block_ludifica .card-title {
    margin: 0;
    padding: 10px 0 10px 15px;
    display: inline-block;
}

.block_ludifica .player_info {
    display: flex;
    flex-wrap: wrap;
}

.block_ludifica .player_info h3 {
    display: flex;
    flex-wrap: wrap;
}

.block_ludifica .player_info h3 span {
    padding: 10px;
    border-right: 2px solid #ddd;
    display: inline-block;
}

.block_ludifica .player_info h3 span:last-child {
    border-right: none;
}

.block_ludifica .player_info .buttons {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #ddd;
}

#block_ludifica-store .notavailableyet,
#block_ludifica-tickets .notavailableyet,
.block_ludifica .notavailableyet {
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
}

#tickets-list .oneticket {
    margin-bottom: 20px;
}

#tickets-list .oneticket .picture-box {
    padding-right: 15px;
}

#tickets-list .oneticket .picture-box img {
    max-width: 150px;
    max-height: 150px;
}

#tickets-list .oneticket .ticketcontent {
    display: flex;
}

#tickets-list .oneticket .card-header a {
    float: right;
    cursor: pointer;
}

#tickets-list .oneticket .card-header a i {
    border: 2px solid;
    border-radius: 50%;
    padding: 2px;
}

.block_ludifica-modal {
    display: none;
}

.alertc-control {
    position: fixed;
    left: 10px;
    right: 10px;
    top: 50%;
    z-index: 999;
    border: 2px dashed;
}

.alertc-control .alert {
    margin: 0;
}

.usercode.usercode-used {
    text-decoration: line-through;
}

/*Avatars*/
#avatars-list .oneavatar {
    width: 200px;
    margin: 20px;
}

#avatars-list .oneavatar.usernothas .picture-box img {
    filter: grayscale(1);
}

#avatars-list .avatarcontent {
    position: relative;
}

#avatars-list .cost {
    position: absolute;
    right: 5px;
    top: 5px;
    background: rgba(8, 8, 8, 0.7);
    color: #fff;
    padding: 0 5px;
    border-radius: 10px;
}

#avatars-list .picture-box img {
    width: 100%;
}

#avatars-list .info-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background: rgba(20, 20, 20, 0.8);
    color: #fff;
    font-size: 80%;
    transform: scale(0);
    transition: all .2s ease-in-out;
    overflow: auto;
}

#avatars-list .avatarcontent:hover .info-box {
    transform: scale(1);
}

#avatars-list .oneavatar.usernothas [data-action="use"],
#avatars-list .oneavatar.inuse [data-action="use"] {
    display: none;
}

#avatars-list .oneavatar.userhas [data-action="buy"] {
    display: none;
}

#avatars-list .oneavatar.userhas .cost {
    display: none;
}

#avatars-list .oneavatar .used {
    display: none;
}

#avatars-list .oneavatar.inuse .used {
    display: inherit;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 50px;
}

#avatars-list .card-footer {
    padding: 5px;
}
/*End Avatars*/

.block_ludifica .avatar-box {
    text-align: center;
    min-width: 40%;
    width: 100%;
    margin-top: 50px;
}

.block_ludifica .avatar-box.MD {
    margin-top: 0;
}

.block_ludifica .avatar-box img {
    margin-bottom: 10px;
    max-width: 100%;
}

.block_ludifica .tickets-box > div {
    display: flex;
}

.block_ludifica .tickets-box .oneticket {
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
    border: 1px solid;
    margin: 5px;
}

.block_ludifica .tickets-box .oneticket img {
    width: 100%;
}

.block_ludifica .tickets-box .oneticket .count {
    position: absolute;
    bottom: 3px;
    right: 3px;
    background-color: rgba(8, 8, 8, 0.7);
    border-radius: 10px;
    padding: 0 7px;
    font-size: 12px;
    color: #fff;
}

.block_ludifica .block_ludifica-tabs i {
    font-size: 20px;
}

/* Tabs control */
.block_ludifica-tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
}

.block_ludifica-tabs > [data-ref] {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
}

.block_ludifica-tabs > .active {
    cursor: default;
}

.block_ludifica-tabs > .active,
.block_ludifica-tabs > :hover[data-ref] {
    border-color: #aaa;
    background-color: #ddd;
}

.block_ludifica-tabcontent {
    padding: 10px 0;
    display: none;
}

.block_ludifica-tabcontent.active {
    display: inherit;
}

/* End Tabs control */

/* Store */
.store-tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.store-tabs > a {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: none;
    display: inline-block;
    text-decoration: none;
}

.store-tabs > .active {
    cursor: default;
}

.store-tabs > .active,
.store-tabs > :hover[data-ref] {
    border-color: #aaa;
    background-color: #ddd;
    text-decoration: none;
}

/* End Store */

/* Ranking tables */
.block_ludifica-tabcontent .generaltable {
    font-size: 12px;
}

.block_ludifica-tabcontent .numeric-cel {
    text-align: right;
}

.block_ludifica-tabcontent .current-user {
    background-color: bisque;
}
/* End Ranking tables */

/* Contextual help */
.ludifica_help {
    background: none;
    border: none;
    color: #0f6cbf;
}
/* End contextual help */

/* Dynamic help */

.tab-additionalpoints > ul {
    list-style: none;
    max-width: 600px;
    margin: auto;
}

.tab-additionalpoints h3 {
    text-align: center;
}

.tab-additionalpoints > ul > li {
    margin-bottom: 5px;
}

.tab-additionalpoints > .levels_info > li:last-child {
    text-align: center;
    font-weight: bolder;
}

.tab-additionalpoints > ul .fa {
    font-size: 1.5em;
    color: #2ca58d;
}

.tab-additionalpoints .levels_info .fa-level-up {
    color: #194866;
}

.tab-additionalpoints .levels_info .fa-bolt {
    color: #f98012;
}

.tab-additionalpoints .levels_info {
    background-color: #f7f7f7;
    padding: 1em;
    margin-top: 24px;
}


/* End dynamic help */