{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_ludifica/badges

    This template renders the template content area for a resource.

    Example context (json):
    {
        "badges": [],
        "baseurl": "https://moodle_wwwroot_url"
    }
}}

{{>block_ludifica/storetabs}}
<button class="ludifica_help icon fa fa-question-circle" data-toggle="popover" data-container="body" data-placement="right" data-content="{{#str}}badges_help, block_ludifica{{/str}}"></button>
<div id="badges-list" class="row">
    {{^badges}}
    <div id="badge-{{id}}" class="col-lg-6 onebadge">
        <div class="card">
            <h3 class="card-header">{{name}}</h3>
            <div class="card-body badgecontent">
                {{#thumbnail}}
                <div class="picture-box">
                    <img src="{{thumbnail}}" alt="{{name}}" />
                </div>
                {{/thumbnail}}
                <div class="info-box">
                    <p><em>{{description}}</em></p>
                    <p>{{#str}} criteria_emisor, block_ludifica {{/str}} {{emisor}}</p>
                    <ul>
                        <li>
                            <strong>{{criterianame}}</strong>
                            <ul>
                                <li>{{criteriaitem}}</li>
                            </ul>
                        </li>
                    </ul>
                    <button class="btn btn-secondary openshare">{{#pix}} i/publish, core {{/pix}} {{#str}} badge_share, block_ludifica {{/str}}</button>
                    <div class="share_badge_modal block_ludifica-modal" title="{{#str}} badge_share_title, block_ludifica {{/str}}">
                        <div class="card-body">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <a href="https://www.linkedin.com/profile/add?startTask=CERTIFICATION_NAME&name={{name}}&organizationId=15093394&issueYear={{badgeyear}}&issueMonth={{badgemonth}}&certUrl={{url}}&certId={{badgeid}}&credentialDoesNotExpire=1" target="_blank" class="btn btn-primary ">{{#pix}} i/publish, core {{/pix}} {{#str}} badge_linkedin, block_ludifica {{/str}}</a>
                                </div>
                                <div class="list-group-item">
                                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{url}}" target="_blank" class="btn btn-primary">{{#pix}} i/publish, core {{/pix}} {{#str}} badge_linkedin_bio, block_ludifica {{/str}}</a>
                                </div>
                                <div class="list-group-item">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{url}}" target="_blank" class="btn btn-primary">{{#pix}} i/publish, core {{/pix}} {{#str}} badge_facebook, block_ludifica {{/str}}</a>
                                </div>
                                <div class="list-group-item">
                                    <a href="https://twitter.com/intent/tweet?text={{name}}&url={{url}}" target="_blank" class="btn btn-primary">{{#pix}} i/publish, core {{/pix}} {{#str}} badge_twitter, block_ludifica {{/str}}</a>
                                </div>
                                <div class="list-group-item d-flex">
                                    <div class="input-container">
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-link"></i>
                                                </span>
                                            </div>
                                            <input type="text" name="badgelink" aria-label="badge link" value="{{url}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p><em>{{expiry}}</em></p>
                </div>
            </div>
        </div>
    </div>
    {{/badges}}
    {{^badges}}
        <p class="notavailableyet">
            {{#str}} notuserbadges, block_ludifica {{/str}}
        </p>
    {{/badges}}
</div>
{{#canedit}}
<div>
    <a href="{{baseurl}}/badges/index.php?type=1" class="btn btn-primary">{{#str}} badgemanage, block_ludifica {{/str}}</a>
</div>
{{/canedit}}