{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_ludifica/main

    This template renders the template content area for a resource.

    Example context (json):
    {
        "player": {
            "fullname": "Pepito Perez",
            "avatarurl": "https://moodle_wwwroot_url/some_image"
        },
        "baseurl": "https://moodle_wwwroot_url"
    }
}}

<div id="{{uniqueid}}" class="block_ludifica-content" data-observe-resizes>
    {{#hastabs}}
        <div class="block_ludifica-tabs">
        {{#tabs}}
            <div data-ref="#{{uniqueid}} .tab-{{key}}" title="{{title}}" class="{{state}}">
                <i class="fa fa-{{icon}}"></i>
            </div>
        {{/tabs}}
        </div>
    {{/hastabs}}

    {{#player}}
    <div class="tab-profile block_ludifica-tabcontent {{profilestate}}">
        <div class="player_info">
            <div class="avatar-box">
                <button class="ludifica_help icon fa fa-question-circle" data-toggle="popover" data-container="body" data-placement="right" data-content="{{#str}}level_help, block_ludifica{{/str}}"></button>
                <img src="{{avatarurl}}" alt="{{nickname}}" /><br />
                <a href="{{baseurl}}/blocks/ludifica/avatars.php" class="btn btn-secondary">{{#str}} avatars, block_ludifica {{/str}}</a>
            </div>
            <div>
                <div>
                    <button class="ludifica_help icon fa fa-question-circle" data-toggle="popover" data-container="body" data-placement="right" data-content="{{#str}}name_help, block_ludifica{{/str}}"></button>
                    <h2>{{{nickcontent}}}</h2>
                    {{>block_ludifica/playerstats}}

                </div>
                <div class="tickets-box">
                    <h2> {{#str}} tickets, block_ludifica {{/str}} </h2>
                    <div>
                    {{#tickets}}
                        <div class="oneticket">
                            <img src="{{thumbnail}}" title="{{name}}" />
                            <div class="count">{{count}}</div>
                        </div>
                    {{/tickets}}
                    {{^tickets}}
                        <p class="notavailableyet">
                            {{#str}} notusertickets, block_ludifica {{/str}}
                        </p>
                    {{/tickets}}
                    </div>
                    <a href="{{baseurl}}/blocks/ludifica/tickets.php" class="btn btn-secondary">{{#str}} tickets, block_ludifica {{/str}}</a>
                </div>
            </div>

        </div>
    </div>
    {{/player}}

    {{#hastopbycourse}}
    <div class="tab-topbycourse block_ludifica-tabcontent {{topbycoursestate}}">
        {{#hasrowstopbycourse}}
        <button class="ludifica_help icon fa fa-question-circle" data-toggle="popover" data-container="body" data-placement="right" data-content="{{#str}}course-ranking_help, block_ludifica{{/str}}"></button>
        <table class="generaltable">
            <thead>
                <tr>
                    <th>{{#str}}positionhead, block_ludifica{{/str}}</th>
                    <th>{{#str}}playerhead, block_ludifica{{/str}}</th>
                    <th>{{#str}}pointshead, block_ludifica{{/str}}</th>
                </tr>
            </thead>
            <tbody>
            {{#topbycourse}}
                <tr class="{{#current}}current-user{{/current}}">
                    <td class="numeric-cel">{{position}}</td>
                    <td>{{nickname}}</td>
                    <td class="numeric-cel">{{points}}</td>
                </tr>
            {{/topbycourse}}
            </tbody>
        </table>
        {{/hasrowstopbycourse}}
        {{^hasrowstopbycourse}}
            <p>
                {{#str}} nottopyet, block_ludifica {{/str}}
            </p>
        {{/hasrowstopbycourse}}
    </div>
    {{/hastopbycourse}}

    {{#hastopbysite}}
    <div class="tab-topbysite block_ludifica-tabcontent {{topbysitestate}}">
        {{#hasrowstopbysite}}
        <button class="ludifica_help icon fa fa-question-circle" data-toggle="popover" data-container="body" data-placement="right" data-content="{{#str}}site-ranking_help, block_ludifica{{/str}}"></button>
        <table class="generaltable">
            <thead>
                <tr>
                    <th>{{#str}}positionhead, block_ludifica{{/str}}</th>
                    <th>{{#str}}playerhead, block_ludifica{{/str}}</th>
                    <th>{{#str}}pointshead, block_ludifica{{/str}}</th>
                </tr>
            </thead>
            <tbody>
            {{#topbysite}}
                <tr class="{{#current}}current-user{{/current}}">
                    <td class="numeric-cel">{{position}}</td>
                    <td>{{nickname}}</td>
                    <td class="numeric-cel">{{points}}</td>
                </tr>
            {{/topbysite}}
            </tbody>
        </table>
        {{/hasrowstopbysite}}
        {{^hasrowstopbysite}}
            <p>
                {{#str}} nottopyet, block_ludifica {{/str}}
            </p>
        {{/hasrowstopbysite}}
    </div>
    {{/hastopbysite}}

    {{#haslastmonth}}
    <div class="tab-lastmonth block_ludifica-tabcontent {{lastmonthstate}}">
        {{#hasrowslastmonth}}
        <button class="ludifica_help icon fa fa-question-circle" data-toggle="popover" data-container="body" data-placement="right" data-content="{{#str}}site-ranking_help, block_ludifica{{/str}}"></button>   
        <table class="generaltable">
            <thead>
                <tr>
                    <th>{{#str}}positionhead, block_ludifica{{/str}}</th>
                    <th>{{#str}}playerhead, block_ludifica{{/str}}</th>
                    <th>{{#str}}pointshead, block_ludifica{{/str}}</th>
                </tr>
            </thead>
            <tbody>
            {{#lastmonth}}
                <tr class="{{#current}}current-user{{/current}}">
                    <td class="numeric-cel">{{position}}</td>
                    <td>{{nickname}}</td>
                    <td class="numeric-cel">{{points}}</td>
                </tr>
            {{/lastmonth}}
            </tbody>
        </table>
        {{/hasrowslastmonth}}
        {{^hasrowslastmonth}}
            <p>
                {{#str}} nottopyet, block_ludifica {{/str}}
            </p>
        {{/hasrowslastmonth}}
    </div>
    {{/haslastmonth}}
</div>