{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_ludifica/playerstats

    This template renders the template content area for a resource.

    Example context (json):
    {
        "uniqueid": "UNIQUEID",
        "points": 2000,
        "coins": 309,
        "level": "basic"
    }
}}

{{#player}}
<h3>
    <span class="ludifica_numpoints" id="ludifica_numpoints">{{#str}} numpoints, block_ludifica, {{points}} {{/str}}</span>
    <span class="ludifica_numcoins" id="ludifica_numcoins">{{#str}} numcoins, block_ludifica, {{coins}} {{/str}}</span>
    <span class="ludifica_labellevel" id="ludifica_labellevel">{{#str}} labellevel, block_ludifica, {{#level}}{{name}}{{/level}} {{/str}}</span>
</h3>
{{/player}}
