{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_ludifica/eliza/main

    This template renders the template content area for a resource.

    Example context (json):
    {
        "uniqueid": "unique_id_string",
        "player": {
            "fullname": "Pepito Perez",
            "avatarurl": "https://moodle_wwwroot_url/some_image",
            "nickcontent": "Some html with edit control"
        },
        "baseurl": "https://moodle_wwwroot_url"
    }
}}

<div id="{{uniqueid}}" class="block_ludifica-content" data-observe-resizes>
    {{#hastabs}}
        <div class="block_ludifica-tabs">
        {{#tabs}}
            <div data-ref="#{{uniqueid}} .tab-{{key}}" title="{{title}}" class="{{state}}">
                <i class="fa fa-{{icon}}"></i>
            </div>
        {{/tabs}}
        </div>
    {{/hastabs}}

    {{#hasdynamichelps}}
    <div class="tab-dynamichelps block_ludifica-tabcontent {{dynamichelpsstate}}">
        <h3>{{#str}} tabtitle_dynamichelps, block_ludifica {{/str}}</h3>
        {{>block_ludifica/eliza/buttonsbar}}
        <div class="pointsinfo">
            {{#insitecontext}}
            <div class="card">
                <div class="card-header">
                    {{#str}} dynamic_help_title, block_ludifica {{/str}}
                </div>

                {{#helpvars}}
                <div class="card-body">
                    <ul class="list-group">
                        {{#pointsbyendcourse}}
                            <li class="list-group-item d-flex">
                                {{#pix}} i/courseevent, core {{/pix}}
                                <div>
                                    {{#hasduration}}
                                        {{#str}} dynamic_help-pointsbyendcourseduration_site, block_ludifica, {{pointsbyendcourse}} {{/str}}
                                    {{/hasduration}}
                                    {{^hasduration}}
                                        {{#str}} dynamic_help-pointsbyendcourse, block_ludifica, {{pointsbyendcourse}} {{/str}}
                                    {{/hasduration}}
                                </div>
                            </li>
                        {{/pointsbyendcourse}}
                        {{#recurrentlogindays}}
                            <li class="list-group-item d-flex">
                                {{#pix}} i/scheduled, core {{/pix}}
                                <div>{{#str}} dynamic_help-recurrentlogindays, block_ludifica, {{recurrentlogindays}} {{/str}}
                                {{#str}} dynamic_help-pointsrecurrentlogin, block_ludifica, {{pointsbyrecurrentlogin1}} {{/str}}</div>
                            </li>
                            <li class="list-group-item d-flex">
                                {{#pix}} i/otherevent, core {{/pix}}
                                <div>{{#str}} dynamic_help-pointsbyday, block_ludifica, {{pointsbyrecurrentlogin2}} {{/str}}</div></li>
                            {{/recurrentlogindays}}
                            {{#coinsbypoints}}
                            <li class="list-group-item d-flex">
                                {{#pix}} i/db, core {{/pix}}
                                <div>{{#str}} dynamic_help-pointstocoins, block_ludifica, {{pointstocoins}} {{/str}}
                                {{#str}} dynamic_help-coinsbypoints, block_ludifica, {{coinsbypoints}} {{/str}}</div>
                            </li>
                        {{/coinsbypoints}}
                    </ul>
                </div>
            </div>
            {{/helpvars}}
            {{#haslevels}}
            <div class="card">
                <div class="card-header">
                    {{#str}} levelup, block_ludifica {{/str}}
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {{#player}}
                            <li class="list-group-item">
                                {{#str}} currentlevel, block_ludifica, {{#level}}{{name}}{{/level}} {{/str}}
                            </li>
                        {{/player}}
                        {{#levels}}
                            <li class="list-group-item d-flex">
                                {{#pix}} t/restore, core {{/pix}}
                                <div>{{{label}}}</div>
                            </li>
                        {{/levels}}
                    </ul>
                </div>
            </div>
            {{/haslevels}}
            {{/insitecontext}}

            {{^insitecontext}}
            {{#helpvars}}
                {{#pointsbycomplete}}
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            {{#pix}} i/courseevent, core {{/pix}}
                            <div>
                                {{#hasduration}}
                                    {{#str}} dynamic_help-pointsbyendcourseduration, block_ludifica, {{totalpoints}} {{/str}}
                                {{/hasduration}}

                                {{^hasduration}}
                                    {{#str}} dynamic_help-pointsbyendcourse, block_ludifica, {{pointsbyendcourse}} {{/str}}
                                {{/hasduration}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/pointsbycomplete}}
            {{/helpvars}}

            {{#pointsbyallmodules}}
            <div>
                {{#helpvars}}
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            {{#pix}} t/award, core {{/pix}}
                            <div>
                                {{#str}} dynamic_help-pointsbyendmodule, block_ludifica, {{pointsbyendcoursemodule}} {{/str}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/helpvars}}
            </div>
            {{/pointsbyallmodules}}
            {{^pointsbyallmodules}}

            {{#hasactivities}}
            <div class="card activities-list">
                <div class="card-header">
                    {{#str}} helptitle_pointsbycoursemodule, block_ludifica {{/str}}
                </div>
                <div class="card-body">
                    <ul class="list-group">
                    {{#pointsbymodules}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <img src="{{{iconurl}}}" alt="{{typetitle}}" title="{{typetitle}}" />
                                {{name}} ({{typetitle}})
                            </div>
                            <span class="badge bg-primary rounded-pill">{{#str}} dynamic_help-pointsbymodule, block_ludifica, {{points}} {{/str}}</span>
                        </li>
                    {{/pointsbymodules}}
                    </ul>
                </div>
            </div>
            {{/hasactivities}}

            {{^hasactivities}}
            <div>
                <h3>{{#str}} dynamic_help-noactivities, block_ludifica {{/str}}</h3>
            </div>
            {{/hasactivities}}

            {{/pointsbyallmodules}}

            {{/insitecontext}}

        </div>
    </div>
    {{/hasdynamichelps}}

    {{#player}}
    <div class="tab-profile block_ludifica-tabcontent {{profilestate}}">
        <div class="playerstats">
            <div>
                <h2>
                    <button class="ludifica_help icon fa fa-question-circle" data-toggle="popover" data-container="body" data-placement="left"
                    data-content="{{#str}}name_help, block_ludifica{{/str}}"></button>
                    {{{nickcontent}}}
                </h2>
                {{>block_ludifica/eliza/playerstats}}
            </div>
        </div>
        {{>block_ludifica/eliza/buttonsbar}}
        <div class="player_info">
            <div class="avatar-box">
                <img src="{{avatarurl}}" alt="{{nickname}}" /><br />
            </div>
        </div>
    </div>
    {{/player}}

    {{#hastopbycourse}}
    <div class="tab-topbycourse block_ludifica-tabcontent {{topbycoursestate}}">
        <h3>{{#str}}tabtitle_topbycourse, block_ludifica{{/str}}</h3>
        {{>block_ludifica/eliza/buttonsbar}}
        {{#hasrowstopbycourse}}
        <button class="ludifica_help icon fa fa-question-circle" data-toggle="popover" data-container="body" data-placement="right"
        data-content="{{#str}}course-ranking_help, block_ludifica{{/str}}"></button>
        <table class="generaltable">
            <thead>
                <tr>
                    <th>{{#str}}positionhead, block_ludifica{{/str}}</th>
                    <th>{{#str}}playerhead, block_ludifica{{/str}}</th>
                    <th>{{#str}}pointshead, block_ludifica{{/str}}</th>
                </tr>
            </thead>
            <tbody>
            {{#topbycourse}}
                <tr class="{{#current}}current-user{{/current}}">
                    <td class="numeric-cel">{{position}}</td>
                    <td>{{nickname}}</td>
                    <td class="numeric-cel">{{points}}</td>
                </tr>
            {{/topbycourse}}
            </tbody>
        </table>
        {{/hasrowstopbycourse}}
        {{^hasrowstopbycourse}}
            <p>
                {{#str}} nottopyet, block_ludifica {{/str}}
            </p>
        {{/hasrowstopbycourse}}
    </div>
    {{/hastopbycourse}}

    {{#hastopbysite}}
    <div class="tab-topbysite block_ludifica-tabcontent {{topbysitestate}}">
        <h3>{{#str}}tabtitle_topbysite, block_ludifica{{/str}}</h3>
        {{>block_ludifica/eliza/buttonsbar}}
        {{#hasrowstopbysite}}
        <button class="ludifica_help icon fa fa-question-circle" data-toggle="popover" data-container="body" data-placement="right"
        data-content="{{#str}}site-ranking_help, block_ludifica{{/str}}"></button>
        <table class="generaltable">
            <thead>
                <tr>
                    <th>{{#str}}positionhead, block_ludifica{{/str}}</th>
                    <th>{{#str}}playerhead, block_ludifica{{/str}}</th>
                    <th>{{#str}}pointshead, block_ludifica{{/str}}</th>
                </tr>
            </thead>
            <tbody>
            {{#topbysite}}
                <tr class="{{#current}}current-user{{/current}}">
                    <td class="numeric-cel">{{position}}</td>
                    <td>{{nickname}}</td>
                    <td class="numeric-cel">{{points}}</td>
                </tr>
            {{/topbysite}}
            </tbody>
        </table>
        {{/hasrowstopbysite}}
        {{^hasrowstopbysite}}
            <p>
                {{#str}} nottopyet, block_ludifica {{/str}}
            </p>
        {{/hasrowstopbysite}}
    </div>
    {{/hastopbysite}}

    {{#haslastmonth}}
    <div class="tab-lastmonth block_ludifica-tabcontent {{lastmonthstate}}">
        <h3>{{#str}}tabtitle_lastmonth, block_ludifica{{/str}}</h3>
        {{>block_ludifica/eliza/buttonsbar}}
        {{#hasrowslastmonth}}
        <button class="ludifica_help icon fa fa-question-circle" data-toggle="popover" data-container="body" data-placement="right"
        data-content="{{#str}}lastmonth-ranking_help, block_ludifica{{/str}}"></button>
        <table class="generaltable">
            <thead>
                <tr>
                    <th>{{#str}}positionhead, block_ludifica{{/str}}</th>
                    <th>{{#str}}playerhead, block_ludifica{{/str}}</th>
                    <th>{{#str}}pointshead, block_ludifica{{/str}}</th>
                </tr>
            </thead>
            <tbody>
            {{#lastmonth}}
                <tr class="{{#current}}current-user{{/current}}">
                    <td class="numeric-cel">{{position}}</td>
                    <td>{{nickname}}</td>
                    <td class="numeric-cel">{{points}}</td>
                </tr>
            {{/lastmonth}}{{thumbnail}}
            </tbody>
        </table>
        {{/hasrowslastmonth}}
        {{^hasrowslastmonth}}
            <p>
                {{#str}} nottopyet, block_ludifica {{/str}}
            </p>
        {{/hasrowslastmonth}}
    </div>
    {{/haslastmonth}}
</div>