.block_ludifica {
    background: url('pix/bg1_ludifica.png') no-repeat center center;
    background-color: #383a70;
    min-height: 650px;
    transition: 10s ease-in;
    background-size: cover;
}

.block_ludifica .general-buttons .badges-button,
.block_ludifica .general-buttons .ranking_buttons,
.block_ludifica .general-buttons .avatars-button,
.block_ludifica .general-buttons .store-button,
.block_ludifica [ludifica-tab="profile"] {
    width: 123px;
    height: 44px;
    margin-top: 15px;
    background-color: #f6d052;
    border: none;
    color: #2d3351;
    display: flex;
    border-radius: 30px 10px 10px 30px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    box-sizing: border-box;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 32%);
    transition: 0.1s ease;
    transform: scale(1, 1);
}

.block_ludifica .general-buttons .badges-button::before,
.block_ludifica .general-buttons .ranking_buttons::before,
.block_ludifica .general-buttons .avatars-button::before,
.block_ludifica .general-buttons .store-button::before,
.block_ludifica [ludifica-tab="profile"]::before {
    height: 44px;
    min-width: 44px;
    position: relative;
    left: 0;
    background-color: #eaaf0a !important;
    content: '';
    border-radius: 30px;
    padding: 10px;
    margin-top: -10px;
    margin-left: -13px;
    background: url('pix/icons.png') no-repeat center center / cover;
    transform: rotate(0deg);
    transition: 0.3s ease;
    box-shadow: 0 0 0 0 #f6d052;
}

.block_ludifica .general-buttons .badges-button:hover,
.block_ludifica .general-buttons .ranking_buttons:hover,
.block_ludifica .general-buttons .avatars-button:hover,
.block_ludifica .general-buttons .store-button:hover,
.block_ludifica [ludifica-tab="profile"]:hover {
    box-shadow: 0 0 10px 0 rgba(45,51,81,1);
    transform: scale(1.2, 1.2);
    background-color: #2d3351;
    color: #fff;
    text-decoration: none;
}

.block_ludifica .general-buttons .badges-button:hover::before,
.block_ludifica .general-buttons .ranking_buttons:hover::before,
.block_ludifica .general-buttons .avatars-button:hover::before,
.block_ludifica .general-buttons .store-button:hover::before,
.block_ludifica [ludifica-tab="profile"]:hover::before {
    transform: rotate(-20deg);
    box-shadow: 0 0 10px 0 #f6d052;
}

.block_ludifica .general-buttons span {
    display: block;
    width: 100%;
    text-align: center;
}

.block_ludifica .general-buttons .badges-button::before {
    background-position-x: -249px;
}

.block_ludifica .general-buttons .ranking_buttons::before {
    background-position-x: -323px;
}

.block_ludifica .general-buttons .avatars-button::before {
    background-position-x: -582px;
}

.block_ludifica .general-buttons .store-button::before {
    background-position-x: -170px;
}

.block_ludifica [ludifica-tab="profile"]::before {
    background-position-x: -640px;
}

.block_ludifica .playerstats {
    position: absolute;
    right: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.block_ludifica .playerstats h3 div:first-child {
    background-color: #2d3351;
    color: #fff;
    position: absolute;
    transform: rotate(-90deg);
    margin-left: -90px;
    top: 297px;
    left: 0;
    padding: 15px;
    border-radius: 17px;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 3px
}

.block_ludifica .playerstats h2 {
    background-color: #2d3351;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 17px;
    display: inline-block;
    margin-left: 39px;
    transition: 0.1s ease;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 32%);
}

.block_ludifica .playerstats h2:hover {
    background-color: #e59428;
}

.block_ludifica .playerstats h3 div:last-child {
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

.block_ludifica .playerstats h3 div:last-child > span {
    background-color: #3db1d1;
    padding: 15px;
    border-radius: 15px;
    margin-right: 8px;
    font-size: 17px;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 32%);
    font-weight: bold;
}

.block_ludifica .general-buttons [ludifica-tab="dynamichelps"] {
    background-color: #e59428;
    color: #fff;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 32%);
    transition: 0.1s ease;
    font-size: 25px;
    transform: scale(1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.block_ludifica .general-buttons [ludifica-tab="dynamichelps"] span i {
    font-size: 30px;
    margin: auto;
}

.block_ludifica .general-buttons [ludifica-tab="dynamichelps"]:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 10px 0 rgba(45,51,81,1);
    background-color: #2d3351;
}

@media (max-width: 900px) {

    .block_ludifica .playerstats h3 div:first-child {
        position: inherit;
        transform: rotate(0deg);
        left: 50px;
        display: inline-block;
        margin-left: 5px;
        margin-top: 53px;
    }

    .block_ludifica .playerstats {
        position: absolute;
        left: 0;
    }

    .block_ludifica .playerstats h3 div:last-child {
        margin-top: -113px;
    }

    .block_ludifica .avatar-box {
        margin-top: 171px;
    }
}


@media (max-width: 700px) {

    .block_ludifica .general-buttons {
        left: 70%;
    }
}

@media (max-width: 650px) {

    .block_ludifica .playerstats h3 div:first-child {
        margin-top: 50px;
    }
}

.block_ludifica .ranking_buttons {
    position: relative;
    z-index: 1;
}

.block_ludifica .ranking_buttons:hover {
    height: auto;
}

.block_ludifica .ranking_buttons a {
    margin: auto;
}

.block_ludifica .ranking_buttons div {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 49px;
    width: 123px;
    left: 0;
    box-shadow: 0 10px 10px 0 rgba(45,51,81,1);
    border-radius: 10px 0 10px 10px;
    overflow: hidden;
}

.block_ludifica .ranking_buttons:hover div,
.block_ludifica .ranking_buttons:hover div:hover {
    display: flex;
}

.block_ludifica .ranking_buttons div button {
    background-color: #eaaf0a;
    border: 0 solid #fff;
    border-bottom: 1px solid #ffffff;
    transition: 0.1s ease;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px;
    color: #2d3351;
}

.block_ludifica .ranking_buttons div button:hover {
    background-color: #2d3351;
    color: #fff;
}

.block_ludifica .ranking_buttons div button:last-child {
    border: none;
}

.block_ludifica .ranking_buttons div button span {
    display: block;
    text-align: right;
}

#page-blocks-ludifica-avatars #region-main,
#page-blocks-ludifica-tickets #region-main,
#page-blocks-ludifica-badges #region-main {
    min-height: 600px;
    background: url('pix/bg2_ludifica.png') no-repeat center center;
    background-color: #383a70;
    background-blend-mode: multiply;
}

.block_ludifica .block_ludifica-tabs .fa,
.block_ludifica .block-control-actions .fa,
#page-blocks-ludifica-avatars .store-tabs > a,
#page-blocks-ludifica-badges .store-tabs > a,
#page-blocks-ludifica-tickets .store-tabs > a {
    color: #fff;
}

.block_ludifica-tabs > .active,
.block_ludifica-tabs > :hover[data-ref],
#page-blocks-ludifica-avatars .store-tabs > .active,
#page-blocks-ludifica-badges .store-tabs > .active,
#page-blocks-ludifica-tickets .store-tabs > .active {
    background-color: #3db1d1;
    border-color: #3db1d1;
    border-radius: 10px;
}

.block_ludifica-tabs > .active .fa,
#page-blocks-ludifica-avatars .store-tabs > .active,
#page-blocks-ludifica-badges .store-tabs > .active,
#page-blocks-ludifica-tickets .store-tabs > .active {
    color: #2d3351;
}

.block_ludifica .avatar-box {
    text-align: left;
    margin-top: 100px;
}

.block_ludifica .avatar-box img {
    margin-top: -73px;
    max-width: 100%;
}

.block_ludifica .block_ludifica-tabs {
    display: none;
}

.block_with_controls .block_ludifica-tabs {
    display: flex;
}

.block_ludifica .general-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    margin-right: 71px;
    align-items: flex-end;
}

.block_ludifica .tab-profile .general-buttons {
    top: 27%;
}

.block_ludifica .tab-topbysite .general-buttons .ranking_buttons {
    box-shadow: 0 0 10px 0 rgba(45,51,81,1);
    transform: scale(1.2, 1.2);
    background-color: #2d3351;
    color: #fff;
    text-decoration: none;
    border: 2px solid #eaaf0a;
}

.block_ludifica .tab-lastmonth .general-buttons .ranking_buttons {
    box-shadow: 0 0 10px 0 rgba(45,51,81,1);
    transform: scale(1.2, 1.2);
    background-color: #2d3351;
    color: #fff;
    text-decoration: none;
    border: 2px solid #eaaf0a;
}

.block_ludifica .tab-topbycourse .general-buttons .ranking_buttons {
    box-shadow: 0 0 10px 0 rgba(45,51,81,1);
    transform: scale(1.2, 1.2);
    background-color: #2d3351;
    color: #fff;
    text-decoration: none;
    border: 2px solid #eaaf0a;
}

#page-blocks-ludifica-badges .general-buttons .badges-button {
    box-shadow: 0 0 10px 0 rgba(45,51,81,1);
    transform: scale(1.2, 1.2);
    background-color: #2d3351;
    color: #fff;
    text-decoration: none;
    border: 2px solid #eaaf0a;
    pointer-events: none;
}

#page-blocks-ludifica-avatars .general-buttons .avatars-button {
    box-shadow: 0 0 10px 0 rgba(45,51,81,1);
    transform: scale(1.2, 1.2);
    background-color: #2d3351;
    color: #fff;
    text-decoration: none;
    border: 2px solid #eaaf0a;
    pointer-events: none;
}

#page-blocks-ludifica-tickets .general-buttons .store-button {
    box-shadow: 0 0 10px 0 rgba(45,51,81,1);
    transform: scale(1.2, 1.2);
    background-color: #2d3351;
    color: #fff;
    text-decoration: none;
    border: 2px solid #eaaf0a;
    pointer-events: none;
}

.block_ludifica .tab-profile .general-buttons [ludifica-tab="profile"] {
    box-shadow: 0 0 10px 0 rgba(45,51,81,1);
    transform: scale(1.2, 1.2);
    background-color: #2d3351;
    color: #fff;
    text-decoration: none;
    border: 2px solid #eaaf0a;
    pointer-events: none;
}

.block_ludifica .tab-dynamichelps .general-buttons [ludifica-tab="dynamichelps"] {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 10px 0 rgba(45,51,81,1);
    background-color: #2d3351;
    border: 2px solid #e59428;
    pointer-events: none;
}

.block_ludifica .tab-topbysite .general-buttons .ranking_buttons::before {
    box-shadow: 0 0 10px 0 #f6d052;
    top: -2px;
}

.block_ludifica .tab-lastmonth .general-buttons .ranking_buttons::before {
    box-shadow: 0 0 10px 0 #f6d052;
    top: -2px;
}

.block_ludifica .tab-topbycourse .general-buttons .ranking_buttons::before {
    box-shadow: 0 0 10px 0 #f6d052;
    top: -2px;
}

#page-blocks-ludifica-badges .general-buttons .badges-button::before {
    box-shadow: 0 0 10px 0 #f6d052;
    top: -2px;
}

#page-blocks-ludifica-avatars .general-buttons .avatars-button::before {
    box-shadow: 0 0 10px 0 #f6d052;
    top: -2px;
}

#page-blocks-ludifica-tickets .general-buttons .store-button::before {
    box-shadow: 0 0 10px 0 #f6d052;
    top: -2px;
}

.block_ludifica .tab-profile .general-buttons [ludifica-tab="profile"]::before {
    box-shadow: 0 0 10px 0 #f6d052;
    top: -2px;
}

.block_ludifica .tab-topbycourse h3,
.block_ludifica .tab-topbysite h3,
.block_ludifica .tab-lastmonth h3,
.block_ludifica .tab-dynamichelps h3 {
    color: #f6d052;
    font-weight: bolder;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.531);
}

.block_ludifica .generaltable {
    width: 60%;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
}

.block_ludifica .generaltable th,
.block_ludifica .generaltable td {
    border: none;
    text-align: center;
}

.block_ludifica .generaltable th {
    font-size: 17px;
    background-color: #2d3351;
}

.block_ludifica .generaltable th:first-child {
    border-radius: 10px 0 0 0;
}

.block_ludifica .generaltable th:last-child {
    border-radius: 0 10px 0 0;
}

.block_ludifica .generaltable .current-user {
    background-color: none;
    color: #2d3351;
}

.block_ludifica .generaltable .current-user td {
    background-color: #f6d052;
    color: #2d3351;
}

.block_ludifica .generaltable .current-user td:first-child {
    border-radius: 10px 0 0 10px;
}

.block_ludifica .generaltable .current-user td:last-child {
    border-radius: 0 10px 10px 0;
}

.block_ludifica .generaltable tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

.block_ludifica .generaltable tr:hover td {
    color: #3db1d1;
}

.block_ludifica .ludifica_help {
    color: #3db1d1;
}

.block_ludifica .pointsinfo {
    justify-content: initial;
    width: 65%;
}

.block_ludifica .tab-dynamichelps .card {
    background: none;
    border: none;
    color: #fff;
}

.block_ludifica .tab-dynamichelps .card strong {
    color: #3db1d1;
}

.block_ludifica .tab-dynamichelps .card .icon {
    color: #f6d052;
}

.block_ludifica .tab-dynamichelps .card .card-header {
    font-weight: bolder;
    background: none;
    border: none;
}

.block_ludifica .tab-dynamichelps .card .list-group-item {
    background: none;
    border: none;
    margin-left: -15px;
}

.block_ludifica #avatars-list {
    width: 80%;
}

.block_ludifica #avatars-list > div {
  transform: perspective(1px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  margin: 15px;
}

.block_ludifica #avatars-list > div:hover {
  transform: scale(1.1) rotate(2deg);
}

#page-blocks-ludifica-avatars .store-tabs,
#page-blocks-ludifica-tickets .store-tabs,
#page-blocks-ludifica-badges .store-tabs {
    display: none;
}

.editing .store-tabs {
    display: flex !important;
}

#page-blocks-ludifica-avatars .block_ludifica,
#page-blocks-ludifica-tickets .block_ludifica,
#page-blocks-ludifica-badges .block_ludifica {
    padding: 15px;
}

#page-blocks-ludifica-avatars #avatars-list .oneavatar .card {
    box-shadow: 0 0 0 0 #f6d052;
    filter: contrast(100%) brightness(100%);
    background: none;
    border: 1px solid #eaaf0a;
}

#page-blocks-ludifica-avatars #avatars-list .userhas .card{
    background-color: #f6d052;
}


#page-blocks-ludifica-avatars #avatars-list .userhas .card-header{
    background-color: #f6d052;
    color: #31345e !important;
    border: none;
}

#page-blocks-ludifica-avatars #avatars-list .oneavatar {
    width: 320px;
}

#page-blocks-ludifica-badges #badges-list .onebadge,
#page-blocks-ludifica-tickets #tickets-list .oneticket {
    max-width: 320px;
}

#page-blocks-ludifica-avatars #avatars-list .oneavatar:hover .card {
    box-shadow: 0 0 20px 0 #f6d052;
    animation: hover-animation 0.3s forwards;
    background-color: #f6d052;
}

#page-blocks-ludifica-avatars #avatars-list .oneavatar:hover .card-header {
    background-color: #f6d052;
    color: #31345e !important;
}

#page-blocks-ludifica-avatars #avatars-list .inuse .card {
    border: 1px solid #3db1d1;
    background-color: #3db1d1;
}

#page-blocks-ludifica-avatars #avatars-list .inuse:hover .card {
    box-shadow: 0 0 20px 0 #3db1d1;
    animation: hover-animation 0.3s forwards;
    background-color: #3db1d1;
}

@keyframes hover-animation {
    0%, 100% {
      filter: contrast(100%) brightness(100%);
    }
    50% {
      filter: contrast(150%) brightness(150%);
    }
}

#page-blocks-ludifica-avatars #avatars-list .oneavatar .card .card-header {
    color: #f6d052;
    text-align: center;
    background: none;
    border: none;
}

#page-blocks-ludifica-avatars #avatars-list .inuse .card-header {
    background-color: #3db1d1 !important;
    color: #31345e !important;
}

#page-blocks-ludifica-avatars #avatars-list .oneavatar .btn-primary,
#page-blocks-ludifica-tickets #tickets-list .oneticket .btn-primary {
    background-color: #2d3351;
    border: 1px solid #3db1d1;
    color: #fff;
    margin: 5px;
}

#page-blocks-ludifica-avatars #avatars-list .oneavatar .btn-primary:hover,
#page-blocks-ludifica-tickets #tickets-list .oneticket .btn-primary:hover,
#page-blocks-ludifica-badges #badges-list .openshare:hover {
    background-color: #eaaf0a;
    color: #2d3351;
    border: 1px solid #2d3351;;
}

#page-blocks-ludifica-avatars #avatars-list .card-footer,
#page-blocks-ludifica-tickets #tickets-list .card-footer {
    padding: 5px;
    margin: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
}

#page-blocks-ludifica-avatars #avatars-list .inuse .used {
    color: #f6d052;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.block_ludifica #avatars-list .oneavatar .description p {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #fff;
    color: #fff;
}

.block_ludifica #avatars-list .oneavatar:hover .description p {
    color: #2d3351;
    border-top: 1px solid #2d3351;
}


.block_ludifica #avatars-list .inuse .description p,
.block_ludifica #avatars-list .userhas .description p {
    color: #2d3351;
    border-top: 1px solid #2d3351;
}

#page-blocks-ludifica-tickets #tickets-list {
    width: 75%;
}

.block_ludifica .btncanedit {
    background-color: #3db1d1;
    font-weight: bolder;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 32%);
    margin: 20px 0;
}

.block_ludifica #tickets-list .picture-box img {
    display: block;
    margin: auto;
}

.block_ludifica #tickets-list .card {
    background: none;
    border: 1px solid #3db1d1;
    color: #fff;
    box-shadow: 0 0 0 0 #3db1d1;
    filter: contrast(100%) brightness(100%);
    transform: perspective(1px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.block_ludifica #tickets-list .card:hover {
    box-shadow: 0 0 20px 0 #3db1d1;
    animation: hover-animation 0.3s forwards;
    background-color: #3db1d1;
    transform: scale(1.1) rotate(2deg);
}

.block_ludifica #tickets-list .card-header {
    font-size: 19px;
    text-align: center;
    color: #3db1d1;
    background: none;
    border: none;
}

.block_ludifica #tickets-list .card-footer {
    background: none;
    border: none;
}

.block_ludifica #tickets-list .moreinfo-ticket {
    color: #3db1d1;
    position: absolute;
    right: 0;
}

.block_ludifica #tickets-list {
    margin-top: 15px;
}

.block_ludifica #tickets-list .card:hover,
.block_ludifica #tickets-list .card:hover .card-header,
.block_ludifica #tickets-list .card:hover .card-header .moreinfo-ticket {
    color: #2d3351;
}

.block_ludifica #tickets-list .description {
    width: 80%;
    padding-top: 10px;
    margin: auto;
    border-top: 1px solid #fff;
}

.block_ludifica #tickets-list .card:hover .description {
    border-top: 1px solid #2d3351;
}

.block_ludifica #tickets-list .card .info-box strong {
    color: #e59428;
}

.block_ludifica #tickets-list .card:hover .info-box strong {
    color: #fff;
}

.block_ludifica p {
    font-size: 14px !important;
}

#page-blocks-ludifica-badges #badges-list {
    width: 75%;
}

.block_ludifica #badges-list .card {
    background: none;
    border: 1px solid #f6d052;
    color: #fff;
    box-shadow: 0 0 0 0 #f6d052;
    filter: contrast(100%) brightness(100%);
    transform: perspective(1px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.block_ludifica #badges-list .card:hover {
    box-shadow: 0 0 20px 0 #f6d052;
    background-color: #f6d052;
    animation: hover-animation 0.3s forwards;
    transform: scale(1.1) rotate(2deg);
}

.block_ludifica #badges-list .unavailable .card {
    pointer-events: none;
    background: none;
}

.block_ludifica #badges-list .unavailable .openshare {
    display: none;
}

.block_ludifica #badges-list .card-header {
    font-size: 19px;
    text-align: center;
    color: #f6d052;
    background: none;
    border: none;
}

.block_ludifica #badges-list .card:hover .card-header,
.block_ludifica #badges-list .card:hover .info-box {
    color: #2d3351;
}

.block_ludifica #badges-list .card-footer {
    background: none;
    border: none;
}

#badges-list .onebadge .badgecontent {
    display: block;
}

.block_ludifica #badges-list {
    margin-top: 15px;
}

.block_ludifica #badges-list .picture-box img{
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.block_ludifica #badges-list .openshare {
    display: block;
    margin: auto;
    background-color: #2d3351;
    border: 1px solid #3db1d1;
    color: #fff;
}

.block_ludifica #badges-list .openshare i {
    color: #3db1d1;
}

.block_ludifica #badges-list .openshare:hover i {
    color: #2d3351;
}

.block_ludifica #badges-list .expirebadge {
    text-align: right;
}

.block_ludifica #badges-list .unavailablewarning {
    color: #e59428;
}

.block_ludifica .card,
.block_ludifica .btn {
    border-radius: 0.5rem;
}

.block_ludifica #avatars-list .card:hover .thumbnail,
.block_ludifica #badges-list .card:hover .thumbnail,
.block_ludifica #tickets-list .card:hover .thumbnail {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

#page-blocks-ludifica-tickets .alertc-control,
#page-blocks-ludifica-avatars .alertc-control,
#page-blocks-ludifica-badges .alertc-control {
    position: fixed;
    border: none;
    top: 20%;
}

#page-blocks-ludifica-tickets .alertc-control > div,
#page-blocks-ludifica-avatars .alertc-control > div,
#page-blocks-ludifica-badges .alertc-control > div {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 70px 0;
    box-shadow: 0 0 14px #0f1c37;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0.95;
}

#page-blocks-ludifica-tickets .alertc-control .alert-success,
#page-blocks-ludifica-avatars .alertc-control .alert-success,
#page-blocks-ludifica-badges .alertc-control .alert-success {
    background-color: #23ce6b;
    color: #126936;
}

#page-blocks-ludifica-tickets .alertc-control .alert-danger,
#page-blocks-ludifica-avatars .alertc-control .alert-danger,
#page-blocks-ludifica-badges .alertc-control .alert-danger {
    background-color: #e84855;
    color: #7f1019;
}

#page-blocks-ludifica-tickets .alertc-control .alert-secondary,
#page-blocks-ludifica-avatars .alertc-control .alert-secondary,
#page-blocks-ludifica-badges .alertc-control .alert-secondary {
    background-color: #68b0ab;
    color: #315e5b;
}

#page-blocks-ludifica-tickets .alertc-control .alert-warning,
#page-blocks-ludifica-avatars .alertc-control .alert-warning,
#page-blocks-ludifica-badges .alertc-control .alert-warning {
    background-color: #e59428;
    color: #7e4e0f;
}

.block_ludifica #tickets-list .ticketcontent {
    width: 90%;
    margin: auto;
}

.drawer .block_ludifica .general-buttons {
    position: inherit;
}

.drawer .block_ludifica .tab-profile .general-buttons {
    margin-top: 244px;
}

.drawer .block_ludifica .tab-profile .avatar-box {
    margin-top: 0;
}

.drawer .block_ludifica .tab-profile .avatar-box img {
    max-width: 100%;
}

.drawer .block_ludifica .tab-dynamichelps .pointsinfo {
    width: 100%;
}

.drawer .block_ludifica .generaltable {
    width: 100%;
}

.drawer .block_ludifica .playerstats h3 div:first-child {
    margin-top: 87px;
    position: inherit;
    transform: rotate(0deg);
    left: 50px;
    display: inline-block;
    margin-left: 30px;
}

.drawer .block_ludifica .playerstats h3 div:last-child {
    margin-top: -138px;
}

.block_ludifica .nottopyet {
    text-align: center;
    margin-top: 15px;
    color: #fff;
    font-weight: bolder;
}

.block_ludifica .tab-dynamichelps .activities-list {
    color: #2D3351;
    background-color: #3DB1D1;
    margin-top: 15px;
}

.block_ludifica .tab-dynamichelps .activities-list img {
    margin-right: 10px;
}